/* --------- CUSTOME PROPERTIES ------- */
:root {
  /* COLORS */
  --clr-black: 4, 5, 10;
  --clr-dark-blue: 1, 22, 39;
  --clr-white: 235, 240, 246;
  --clr-orange: 255, 114, 2;
  --clr-red: 253, 0, 0;
  --clr-yellow: 254, 203, 88;
}

/* FONTS */

@font-face {
  font-family: FormulaBold;
  src: url(./fonts/Formula1-Bold_web_0.ttf);
}

@font-face {
  font-family: FormulaWide;
  src: url(./fonts/Formula1-Wide_web_0.ttf);
}

/* ---------SET UP THE HTML ------------ */

html {
  scroll-behavior: smooth;
}

/* ---------SET UP THE BODY ------------ */

body {
  margin: 0;
  padding: 0;
  color: rgba(var(--clr-black));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ----- TYPOGRAPHY ----- */

h1,
h3 {
  margin: 0;
}

h1 {
  color: rgba(var(--clr-white));
  font-family: FormulaWide, Arial, Helvetica, sans-serif;
  padding: 0;
  font-size: 1.375rem;
}

@media (width > 545px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media (width > 600px) {
  h1 {
    font-size: 2rem;
  }
}

@media (width > 768px) {
  h1 {
    font-size: 1.5rem;
    line-height: 2.3;
  }
}

@media (width >= 925px) {
  h1 {
    font-size: 2rem;
    line-height: 1.5;
  }
}

@media (width >= 1440px) {
  h1 {
    font-size: 2.125rem;
  }
}

@media (width <= 768px) {
  h1 {
    margin-top: 1em;
  }
}

h2 {
  font-family: FormulaBold, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  margin-top: 0;
}

@media (width > 600px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media (width > 768px) {
  h2 {
    font-size: 1.75rem;
  }
}

@media (width >= 1440px) {
  h2 {
    font-size: 2rem;
  }
}

.section-two h2 {
  color: inherit;
}

h3 {
  font-size: 1.125rem;
}

@media (width > 768px) {
  h3 {
    font-size: 1.375rem;
  }
}

p {
  line-height: 1.5;
}

@media (width > 768px) {
  p {
    font-size: 1.125rem;
  }
}

/* ------------ NAVIGATION ------------ */

nav {
  font-size: 1.125rem;
}

@media (width <= 768px) {
  nav {
    margin-top: 1.5em;
  }
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (width > 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
  }
}

li {
  padding: 1em 0;
}

@media (width <= 768px) {
  li:not(:last-child) /* :not(:last-child) === apply for EVERY element, BUT the last one */ {
    border-bottom: 1px solid rgba(var(--clr-white), 0.7);
  }
}

/* ----- LINKS ----- */

nav a {
  color: rgba(var(--clr-white));
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 0.25rem;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: rgba(var(--clr-yellow));
  font-family: FormulaBold, Arial, Helvetica, sans-serif;
}

.btn {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  margin-bottom: 0.75em;
  border-radius: 4.6px;
  text-align: center;
}

@media (width > 768px) {
  .btn {
    display: inline-block;
    margin: 0 0.25em 0.25em 0;
  }
}

.btn-dark {
  color: rgba(var(--clr-yellow));
  background: rgba(var(--clr-dark-blue));
}

.btn-mid {
  color: rgba(var(--clr-dark-blue));
  background: rgba(var(--clr-orange));
}

.btn-light {
  color: rgba(var(--clr-dark-blue));
  background: rgba(var(--clr-yellow));
}

.btn:hover,
.btn:focus,
.btn:active {
  color: rgba(var(--clr-dark-blue));
  background-color: rgba(var(--clr-yellow), 0.5);
}

.section-two .btn:hover,
.section-two .btn:focus,
.section-two .btn:active {
  color: rgba(var(--clr-black));
  background-color: rgba(var(--clr-white));
}

/* ----- LAYOUT ----- */

.title {
  display: flex;
  justify-content: center;
}

header,
section,
footer {
  padding: 1.25em 0;
}

@media (width > 768px) {
  header,
  section,
  footer {
    padding: 2.875em 0;
  }
}

header,
.section-two {
  background-color: rgba(var(--clr-red));
}

.section-two {
  color: rgba(var(--clr-white));
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (width > 768px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.main-image {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto 2em;
}

.section-two-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.feature-item {
  flex-basis: 250px;
  flex-grow: 1;
}

.feature-image {
  width: 100%;
  border-radius: 4.6px;
}

@media (width >= 968px) {
  .champion {
    flex-basis: 100%;
  }
}

footer {
  text-align: center;
}

.media-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

@media (width <= 320px) {
  .media-container {
    gap: 2rem;
  }
}

@media (width > 768px) {
  .media-container {
    gap: 1.5rem;
  }
}
