/* --------- CUSTOME PROPERTIES ------- */
:root {
  /* COLORS */
  --clr-black: 4, 5, 10;
  --clr-dark-blue: 1, 22, 39;
  --clr-white: 235, 240, 246;
  --clr-orange: 255, 114, 2;
  --clr-red: 253, 0, 0;
  --clr-yellow: 254, 203, 88;
}

/* FONTS */

@font-face {
  font-family: FormulaRegular;
  src: url(./fonts/Formula1-Regular_web_0.ttf);
}

@font-face {
  font-family: FormulaBold;
  src: url(./fonts/Formula1-Bold_web_0.ttf);
}

@font-face {
  font-family: FormulaWide;
  src: url(./fonts/Formula1-Wide_web_0.ttf);
}


/* ---------SET UP THE BODY ------------ */

body {
  margin: 0;
  padding: 0;
  color: rgba(var(--clr-black));
  font-family: FormulaRegular, Arial, Helvetica, sans-serif;
}

/* ----- TYPOGRAPHY ----- */

h1,
h3 {
  margin: 0;
}

h1 {
  color: rgba(var(--clr-white));
  font-family: FormulaWide, Arial, Helvetica, sans-serif;
  padding: 0;
}

@media (width > 768px) {
  h1 {
    font-size: 2.25rem;
  }
}

nav {
  font-size: 1.125rem;
}

h2 {
  color: rgba(var(--clr-black));
  font-size: 1.375rem;
  margin-top: 0;
}

@media (width > 768px) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.25rem;
}

p {
  line-height: 1.5; 
}

@media (width > 768px) {
  p {
    font-size: 1.125rem;
  }
}

.section-two h2 {
  color: inherit;
}

/* ----- LINKS ----- */

a {
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

.btn {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  margin-bottom: 0.75em;
  border-radius: 4.6px;
  text-align: center;
}

@media (width > 768px) {
  .btn {
    display: inline-block;
    margin: 0 0.25em 0.25em 0;
  }
}

.btn-dark {
  color: rgba(var(--clr-yellow));
  background: rgba(var(--clr-dark-blue));
}

.btn-mid {
  color: rgba(var(--clr-dark-blue));
  background: rgba(var(--clr-orange));
}

.btn-light {
  color: rgba(var(--clr-black));
  background: rgba(var(--clr-yellow));
}

.btn:hover,
.btn:active {
  color: rgba(var(--clr-dark-blue));
  background-color: rgba(var(--clr-yellow), .5);
}

/* ----- LAYOUT ----- */

header img {
  width: 100%;
  max-width: 100px;
}

.formula {
  display: flex;
  justify-content: center;
}

header,
section,
footer {
  padding: 1.25em 0;
}

@media (width > 768px) {
  header,
  section,
  footer {
    padding: 2.875em 0;
  }
}

header,
.section-two {
  background-color: rgba(var(--clr-red));
}

.section-two {
  color: whitesmoke;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (width > 768px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.main-image {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto 2em;
}

.section-two-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.feature-item {
  flex: 1 250px;
}

.feature-image {
  width: 100%;
  border-radius: 4.6px;
}

footer {
  text-align: center;
  color: #5f29a3;
}

/* ------------ NAVIGATION ------------ */

@media (width <= 768px) {
  nav {
    margin-top: 1.5em;
  }
}

nav a {
  color: #fff;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (width > 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
  }
}

li {
  padding: 1em 0;
}

li:hover,
li:focus,
li:active {
  font-family: FormulaBold, Helvet;
}

@media (width <= 768px) {
  li:not(:last-child) /* :not(:last-child) === apply for EVERY element, BUT the last one */ {
    border-bottom: 1px solid #a190b6;
  }
}
